<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>بوکلند: تخفیف ویژه!</title>
</head>
<body>
    <div style="text-align: right; direction: rtl; max-width: 600px; margin: 0 auto; font-family: 'Tahoma', sans-serif;">
        <h2>بوک لندی عزیز</h2>

        <p>
            میتوانید هنگام خرید محصولات مجموعه، از کد تخفیف های متنوع ما بهره مند شوید.
            جهت استفاده از کد تخفیف، کد ذیل را در هنگام خرید میتوانید استفاده کنید:
        </p>

        <p style="font-weight: bold">کد تخفیف: <span style="font-size: 1.2em">{{ code }}</span></p>

        <p>
            با تشکر از حمایت شما از بوکلند. امیدواریم لحظات خوبی در دنیای کتاب برای شما فراهم کنیم.
        </p>

        <p>
            با احترام<br />
            بوکلند
        </p>
    </div>
</body>
</html>
