<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>کتابخانه خوش آمدید</title>
  </head>
  <body>
    <div
      style="
        text-align: right;
        direction: rtl;
        max-width: 600px;
        margin: 0 auto;
        font-family: 'Tahoma', sans-serif;
      "
    >
      <h2>سلام به بوکلند خوش آمدید!</h2>

      <p>
        ما خوشحالیم که شما به جمع ما پیوسته‌اید. اینجا، دنیایی از کتابها و دانش
        منتظر شماست. برای فعال‌سازی حساب کاربری‌تان، لطفاً کد فعال‌سازی زیر را
        در فرم مربوطه وارد کنید:
      </p>

      <p style="font-weight: bold">کد فعال‌سازی: <span style="font-size: 1.2em">{{ code }}</span></p>

      <p>
        با تشکر از شما که به جمع ما پیوسته‌اید. امیدواریم که تجربه‌ی
        شما در محیط کتابخانه ما لذت‌بخش باشد.
      </p>

      <p>
        با احترام،<br />
        تیم بوکلند
      </p>
    </div>
  </body>
</html>
