<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>کتابخانه خوش آمدید</title>
  </head>
  <body>
    <div
      style="
        text-align: right;
        direction: rtl;
        max-width: 600px;
        margin: 0 auto;
        font-family: 'Tahoma', sans-serif;
      "
    >
      <h2>سلام به بوکلند خوش آمدید!</h2>

      <p>
        در اینجا دنیایی از کتابها منتظر شماست. برای فعال سازی حساب کاربری خود،
          لطفا کد فعال سازی زیر را در فرم مربوطه وارد نمائید:
      </p>

      <p style="font-weight: bold">کد فعال‌سازی: <span style="font-size: 1.2em">{{ code }}</span></p>

      <p>
        با تشکر از اینکه به جمع ما پیوسته اید ، امیدواریم که تجربه لذت بخشی در کتابخانه ما داشته باشید.
      </p>

      <p>
        با احترام<br />
        تیم بوکلند
      </p>
    </div>
  </body>
</html>
