<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بازیابی رمز عبور</title>
</head>
<body>

    <div style="text-align: right; direction: rtl; max-width: 600px; margin: 0 auto; font-family: 'Tahoma', sans-serif;">

        <h2>بازیابی رمز عبور</h2>

        <p>
            شما برای این ایمیل درخواست بازیابی رمز عبور داده‌اید. برای ادامه، لطفاً کد تأیید زیر را در فرم مربوطه وارد کنید:
        </p>

        <p style="font-weight: bold">کد تایید: <span style="font-size: 1.2em">{{ code }}</span></p>

        <p>
            اگر شما این درخواست را نداده‌اید، می‌توانید این ایمیل را نادیده بگیرید.
        </p>

        <p>
            با تشکر از همکاری شما.
        </p>

        <p>با احترام،<br>
        تیم بوکلند</p>

    </div>

</body>
</html>
